{% extends '::accueilLayout.html.twig' %}

{% block content %}
    <div class="content-section-b" style="background-color: #FFFFFF">


        <div class="row" style="min-height: 300px">
            <div style="position:relative; float:left; background-color: #01a2bb; border-radius: 5px; width: 30%">
                <a href="{{ path('ffbb_poules_choisir_liste') }}" style="text-decoration: none;">
                    <div style="text-align: center; padding-top:10px">
                        <img src="{{ asset('bundles/ffbb/accueil/img/trophy36.png') }}" alt="utilisateurs optimouv"
                             width="20%" height="20%"/>
                    </div>
                    <div style=" text-align: center; color:#fff">
                        <h3>Optimisation des poules </h3>
                    </div>
                </a>

            </div>

            <div style="position:relative; float:left;background-color: #babe11; border-radius: 5px; width: 30%; margin-left: 5%">
                <a href="{{ path('ffbb_choisir_liste_participants') }}" style="text-decoration: none;">
                    <div style="text-align: center; padding-top:10px">
                        <img src="{{ asset('bundles/ffbb/accueil/img/pin66.png') }}"
                             alt="Meilleur lieu de rencontre" width="20%" height="20%"/>
                    </div>
                    <div style=" text-align: center; color:#fff">
                        <h3>Meilleur lieu de rencontre</h3>
                    </div>
                </a>
            </div>


            <div style="position:relative; float:right;background-color: #f07800; border-radius: 5px; width: 30%">
                <a href="{{ path('ffbb_rapports') }}" style="text-decoration: none;">
                    <div style="text-align: center; padding-top:10px">
                        <img src="{{ asset('bundles/ffbb/accueil/img/chart42.png') }}" alt="Rapports" width="20%"
                             height="20%"/>
                    </div>
                    <div style=" text-align: center; color:#fff">
                        <h3>Rapports </h3>
                    </div>
                </a>
            </div>

        </div>

        <!-- /.container -->

    </div>


    <!-- /.content-section-b -->
{% endblock %}
