{% extends '::accueilLayout.html.twig' %}

{% block content %}
    <div class="content-section-b" style="background-color: #FFFFFF">

        <div >
            <div class="row" style="min-height: 300px">
                <h2 class="section-heading" style="text-align: center">Comment ça marche ?</h2>

                <div style="text-align: center; position: relative; float: left; width: 25%; ">
                    <div >
                        <img src="{{ asset('bundles/ffbb/accueil/img/users5.png') }}" alt="utilisateurs optimouv" width="30%" height="30%"/>
                    </div>
                    <div style="background-image: url({{ asset('bundles/ffbb/accueil/img/arrow-right.png') }})">
                        <h5>1. Je choisis mes équipes et mes lieux </h5>
                    </div>

                </div>
                <div   style="text-align: center; position: relative; float: left; width: 25%;">
                    <div >
                        <img src="{{ asset('bundles/ffbb/accueil/img/book195.png') }}" alt="organisation competitions" width="30%" height="30%"/>
                    </div>
                    <div>
                        <h5>2. J'obtiens des scénarios d'organisation de mes compétitions</h5>
                    </div>

                </div>
                <div   style="text-align: center; position: relative; float: left; width: 25%;">
                    <div >
                        <img src="{{ asset('bundles/ffbb/accueil/img/map32.png') }}" alt="meilleur lieu de rencontre" width="30%" height="30%"/>
                    </div>
                    <div>
                        <h5>3. J'obtiens les meilleurs lieux de rencontres</h5>
                    </div>
                </div>
                <div  style="text-align: center; position: relative; float: left; width: 25%;">
                    <div >
                        <img src="{{ asset('bundles/ffbb/accueil/img/road39.png') }}" alt="organisation competitions" width="30%" height="30%"/>
                    </div>
                    <div>
                        <h5>4. Je réduis le nombre de kilomètres parcourus</h5>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-a">

        <div >

            <div class="row">
                <div style="font-size: 15px; position: relative; float: left; width: 65%; margin-right: 5%; padding-left:10px">
                    <p style="text-align: justify; ">
                        Optimouv est une solution innovante pour réduire les gaz à effets de serre générés à l’occasion
                        des
                        déplacements du mouvement sportif.</p>
                    <p style="text-align: justify; ">
                        Elle combine géolocalisation d’équipes, de personnes et de lieux, organisation des poules et
                        calcul
                        d’itinéraires pour optimiser le nombre de kilomètres parcourus lors des pratiques sportives ou dans le cadre du fonctionnement du mouvement sportif.</p>
                    <p style="text-align: justify; ">
                        Optimouv permet de réduire d'au moins 15% les déplacements des rencontres sportives sans en
                        réduire
                        le nombre. 

                    </p>
                    <div>
                        <button type="button" class="btn btn-default"><h5>En savoir plus</h5></button>
                    </div>
                </div>
                <div style="font-size: 15px; position: relative; float: right; width: 30%; padding-right: 10px ">
                    <div class="btn btn-danger" style="width:100%; ">
                        <h3 style="padding-bottom: 10px"> Se connecter</h3>
                      </div>
                      <div class="btn btn-success" style="width:100%; margin-top: 10px">
                         <h3 style="padding-bottom: 10px"> Créer un compte</h3>

                    </div>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
{% endblock %}
