{% extends '::BOLayout.html.twig' %}

     {% block pagewrapper %}

         <div id="page-wrapper">

             <form id="formParams">

                 <div class="row">
                     <div class="bs-example">
                         <ul class="breadcrumb">
                             <li><a href="{{ path('ffbb_accueil_connect') }}">Accueil</a></li>
                             <li><a href="{{ path('ffbb_poules_choisir_liste') }}">Choix de la liste d'équipes</a></li>
                             <li><a href="{{ path('ffbb_poule_choisir_groupe', {'idListe': idListe}) }}">Choix de groupes</a></li>
                             <li class="active">Participants</li>
                         </ul>
                     </div>

                     <div class="col-lg-12">
                         <h3 class="page-header">Sélectionnez vos critères et contraintes </h3>
                         <h4>{{ nomListe }} | {{ nomGroupe }}</h4>
                      </div>
                     <!-- /.col-lg-12 -->
                 </div>
                 <!-- /.row -->
                 <div class="row">
                     {#(* Saisie obligatoire)#}

                     <!-- Type de rencontre bloc -->
                     <div class="col-lg-3">


                         <div class="panel panel-default">
                             <div class="panel-heading">
                                 Type de rencontre*
                             </div>
                             <!-- /.panel-heading -->
                             <div class="panel-body">

                                 <div class="form-group">
                                     <div class="radio">
                                         <label>
                                             <input type="radio" name="typeRencontre" id="typeRencontre1"
                                                    value="allerRetour" checked onclick="typeAllerRetour();">Match aller retour
                                         </label>
                                     </div>
                                     <div class="radio">
                                         <label>
                                             <input type="radio" name="typeRencontre" id="typeRencontre2"
                                                    value="allerSimple" onclick="typeAller();">Match aller simple
                                         </label>
                                     </div>
                                     {#<div class="radio">#}
                                         {#<label>#}
                                             {#<input type="radio" name="typeRencontre" id="typeRencontre3"#}
                                                    {#value="plateau" onclick="typePlateau();">Plateau#}
                                         {#</label>#}
                                     {#</div>#}
                                 </div>

                             </div>
                             <!-- /.panel-body -->
                         </div>
                     </div>
                     <!-- /. Type de rencontre bloc -->


                     <!-- Nombre de journées bloc -->
                     <div class="col-lg-3" id="nbrJournee" style="display: none">
                         <div class="panel panel-default">
                             <div class="panel-heading">
                                 Nombre de journées*
                             </div>
                             <!-- /.panel-heading -->
                             <div class="panel-body">
                                 <div class="form-group">
                                     <input type="number" min="1" class="form-control">

                                 </div>

                             </div>
                             <!-- /.panel-body -->
                         </div>
                     </div>
                     <!-- /. Nombre de journées bloc -->

                     <!-- Nombre de rencontres par journée bloc -->
                     <div class="col-lg-3" id="nbrRencontre" style="display: none">
                         <div class="panel panel-default">
                             <div class="panel-heading">
                                 Nombre de rencontres par journée
                             </div>
                             <!-- /.panel-heading -->
                             <div class="panel-body">
                                 <div class="form-group">
                                     <input type="number" min="0" class="form-control">
                                 </div>

                             </div>
                             <!-- /.panel-body -->
                         </div>
                     </div>

                     <!-- /. Nombre de rencontres par journée bloc -->

                     <!-- Ajouter une contrainte bloc -->
                     <div class="col-lg-3" id="ajoutContrainte" style="display: none">
                         <div class="panel panel-default">
                             <div class="panel-heading">
                                 Ajouter une contrainte
                             </div>
                             <!-- /.panel-heading -->
                             <div class="panel-body">
                                 <div class="form-group">
                                     <label class="checkbox-inline">
                                         <input type="checkbox">Toutes les équipes doivent accueillir au moins une fois
                                     </label>

                                 </div>

                             </div>
                             <!-- /.panel-body -->
                         </div>
                     </div>
                     <!-- /. Ajouter une contrainte bloc -->


                 </div>
                 <!-- /.row -->

                 <div class="row">
                     <!-- Nombre de poules bloc -->
                     <div class="col-lg-3">
                         <div class="panel panel-default">
                             <div class="panel-heading">
                                 Nombre de poules*
                             </div>
                             <!-- /.panel-heading -->
                             <div class="panel-body">

                                 <div class="form-group">
                                     <input id="inputPoulesNbr" type="number" min="2" class="form-control" value="3" required>
                                 </div>

                             </div>
                             <!-- /.panel-body -->
                         </div>
                     </div>
                     <!-- /. Ajouter une contrainte bloc -->

                 </div>
                 <div class="row">
                     <div class="panel panel-default">
                         <div class="panel-heading">
                            <span id="contrainteInterdiction" style="cursor:pointer"> Ajouter des contraintes d'interdiction </span>
                         </div>
                         <!-- /.panel-heading -->
                         <div class="panel-body" id="contrainteInterdictionBody" style="display: none">



                             <fieldset id="additional-field-model">
                                 <div class="form-group">

                                     <div class="col-md-6 col-sm-12">
                                         <div class="input-group">
                                             <input type="text" value="Interdiction 1">

                                             <select class="removeDuplication">

                                                 {%  for detailsVille in detailsVilles %}
                                                     <option value={{ detailsVille.id}}>{{ detailsVille.ville }}</option>
                                                 {% endfor %}


                                             </select>
                                             <select>
                                                 {%  for detailsVille in detailsVilles %}
                                                     <option value={{ detailsVille.id}}>{{ detailsVille.ville }}</option>
                                                 {% endfor %}
                                             </select>

                                         </div>

                                     </div>






                                     <div class="col-md-4 col-xs-7 text-right">
                                         <label class="col-xs-12 control-label" for="field-c"><br></label>
                                         <a href="javascript:void(0);" class="btn btn-warning remove-this-field" style="display: none;">
                                             <i class="fa fa-remove"></i>
                                             <span class="hidden-xs"> Supprimer </span>
                                         </a>
                                         <a href="javascript:void(0);" class="btn btn-success create-new-field" style="display: inline-block;">
                                             <i class="fa fa-plus"></i>
                                             <span class="hidden-xs"> Dupliquer </span>
                                         </a>
                                     </div>
                                 </div>
                             </fieldset>




                         </div>
                         <!-- /.panel-body -->
                     </div>

                 </div>

                 <div class="row">
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             <span id="contrainteRepartition" style="cursor:pointer"> Ajouter des contraintes de répartition homogène</span>
                         </div>
                         <!-- /.panel-heading -->
                         <div class="panel-body" id="contrainteRepartitionBody" style="display: none">
                             <div class="panel-body">
                                 <div class="table-responsive">
                                     <table class="table table-striped table-bordered table-hover">
                                         <thead>
                                         <tr>
                                             <th><strong>Equipe</strong></th>
                                             <th><strong>Catégorie</strong></th>
                                         </tr>
                                         </thead>
                                         <tbody>

                                         {% for detailsVille in detailsVilles %}
                                             <tr>
                                                 <td>{{ detailsVille.ville }}</td>
                                                 <td>
                                                     <select class="form-control">
                                                         <option value="Aucun">Aucun</option>
                                                         <option value="Espoir">Espoir</option>
                                                         <option value="Descendant">Descendant</option>
                                                         <option value="Promu">Promu</option>
                                                         <option value="EquipeNiveauA">Equipe de niveau A</option>
                                                         <option value="EquipeNiveauB">Equipe de niveau B</option>
                                                         <option value="EquipeNiveauC">Equipe de niveau C</option>
                                                         <option value="TeteSerie1">Tête de série 1</option>
                                                         <option value="TeteSerie2">Tête de série 2</option>
                                                     </select>
                                                 </td>
                                             </tr>


                                         {% endfor %}

                                         </tbody>
                                     </table>
                                 </div>
                                 <!-- /.table-responsive -->
                             </div>
                             <!-- /.panel-body -->

                         </div>
                         <!-- /.panel-body -->
                     </div>

                 </div>
                 <div class="row">
                     {#<button id="lancerCalculBtn" type="submit" class="btn btn-primary pull-right"> Lancer le calcul</button>#}
                     {#<button id="lancerCalculBtn" type="button" class="btn btn-primary pull-right"> Lancer le calcul</button>#}
                     <label id="lancerCalculBtn" class="btn btn-primary pull-right"> Lancer le calcul</label>
                 </div>

             </form>

         </div>

         {% block javascript %}

             {{ parent() }}

             <script language="javascript">

                 function typePlateau() {

                     var plateau = document.getElementById("typeRencontre3").checked;

                     if (plateau) {


                         document.getElementById("nbrJournee").style.display = "block";
                         document.getElementById("nbrRencontre").style.display = "block";
                         document.getElementById("ajoutContrainte").style.display = "block";
                     }

                 }

                 function typeAllerRetour() {

                     var allerRetour = document.getElementById("typeRencontre1").checked;
                     if (allerRetour) {
                         document.getElementById("nbrJournee").style.display = "none";
                         document.getElementById("nbrRencontre").style.display = "none";
                         document.getElementById("ajoutContrainte").style.display = "none";
                     }

                 }

                 function typeAller() {

                     var aller = document.getElementById("typeRencontre2").checked;

                     if (aller) {
                         document.getElementById("nbrJournee").style.display = "none";
                         document.getElementById("nbrRencontre").style.display = "none";
                         document.getElementById("ajoutContrainte").style.display = "none";

                     }
                 }

                 $(document).ready(function(){
                     $("#contrainteInterdiction").click(function(){
                         $("#contrainteInterdictionBody").toggle();
                     });
                 });

                 $(document).ready(function(){
                     $("#contrainteRepartition").click(function(){
                         $("#contrainteRepartitionBody").toggle();
                     });
                 });

                 // dupliquer élément
                 $('#additional-field-model').duplicateElement({
                     "class_remove": ".remove-this-field",
                     "class_create": ".create-new-field"
                 });

                 // javascript quand on clique sur le bouton 'lancer le calcul'
                 $(document).ready(function(){
                     $("#lancerCalculBtn").click(function(){
                        console.log("------------------------------------ debug bouton lancer calcul ---------------------------------------");

                         // récupérer le type de match
                         var typeMatch =   $('input[name=typeRencontre]:checked', '#formParams').val();
                         console.log("typeMatch: " + typeMatch);

                         // récupérer l'id du groupe
                         var idGroupe = {{ idGroupe }};
                         console.log("idGroupe : " + idGroupe);


                         // récupérer le nombre de poules
                         var poulesNbr = $("#inputPoulesNbr").val();
                         console.log("poulesNbr : " + poulesNbr );

                         // controler le champ obligatoire (le nombre de poules)
                        if( (poulesNbr == "") || (parseInt(poulesNbr)<2) ){
                            alert("Veuillez vérifier que le nombre de poules donné est valide");
                        }
                         else{
                            alert("Le calcul est en cours de traitement");

                            // agréger les input params
                            var inputParams = {typeMatch: typeMatch, poulesNbr: poulesNbr, idGroupe: idGroupe};
                            console.log("inputParams : " + JSON.stringify(inputParams));


                            // AJAX requete
                             $.ajax({
                                 url: '/admin/poules/lancer-calcul/',
                                 type: 'POST',
                                 data: inputParams,
                                 dataType : "json",
                                 success: function(data, textStatus, jqXHR)
                                 {
                                     console.log('data: ' + data);
                                 },
                                 error: function(jqXHR, textStatus, errorThrown)
                                 {
                                     // Handle errors here
                                     console.log('ERRORS: ' + textStatus);
                                 }
                             });




                        }

                     });

                 });


             </script>

         {% endblock %}

     {% endblock %}

