{% extends '::BOLayout.html.twig' %}

     {% block pagewrapper %}

         <div id="page-wrapper">


             <div class="row">
                 <div class="bs-example">
                     <ul class="breadcrumb">
                         <li><a href="{{ path('ffbb_accueil_connect') }}">Accueil</a></li>
                         <li><a href="{{ path('ffbb_poules_choisir_liste') }}">Choix de la liste d'équipes</a></li>
                         <li><a href="{{ path('ffbb_poule_choisir_groupe', {'idListe': idListe}) }}">Choix de groupes</a></li>
                         <li class="active">Participants</li>
                     </ul>
                 </div>

                 <div class="col-lg-12">
                     <h3 class="page-header">Sélectionnez vos critères et contraintes </h3>
                     <h4>{{ nomListe }} | {{ nomGroupe }}</h4>
                  </div>
                 <!-- /.col-lg-12 -->
             </div>
             <!-- /.row -->
             <div class="row">
                 {#(* Saisie obligatoire)#}

                 <!-- Type de rencontre bloc -->
                 <div class="col-lg-3">


                     <div class="panel panel-default">
                         <div class="panel-heading">
                             Type de rencontre*
                         </div>
                         <!-- /.panel-heading -->
                         <div class="panel-body">

                             <div class="form-group">
                                 <div class="radio">
                                     <label>
                                         <input type="radio" name="typeRencontre" id="typeRencontre1"
                                                value="typeRencontre1" checked onclick="typeAllerRetour();">Match aller retour
                                     </label>
                                 </div>
                                 <div class="radio">
                                     <label>
                                         <input type="radio" name="typeRencontre" id="typeRencontre2"
                                                value="typeRencontre2" onclick="typeAller();">Match aller simple
                                     </label>
                                 </div>
                                 <div class="radio">
                                     <label>
                                         <input type="radio" name="typeRencontre" id="typeRencontre3"
                                                value="typeRencontre3" onclick="typePlateau();">Plateau
                                     </label>
                                 </div>
                             </div>

                         </div>
                         <!-- /.panel-body -->
                     </div>
                 </div>
                 <!-- /. Type de rencontre bloc -->


                 <!-- Nombre de journées bloc -->
                 <div class="col-lg-3" id="nbrJournee" style="display: none">
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             Nombre de journées*
                         </div>
                         <!-- /.panel-heading -->
                         <div class="panel-body">
                             <div class="form-group">
                                 <input type="number" min="1" class="form-control">

                             </div>

                         </div>
                         <!-- /.panel-body -->
                     </div>
                 </div>
                 <!-- /. Nombre de journées bloc -->

                 <!-- Nombre de rencontres par journée bloc -->
                 <div class="col-lg-3" id="nbrRencontre" style="display: none">
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             Nombre de rencontres par journée
                         </div>
                         <!-- /.panel-heading -->
                         <div class="panel-body">
                             <div class="form-group">
                                 <input type="number" min="0" class="form-control">
                             </div>

                         </div>
                         <!-- /.panel-body -->
                     </div>
                 </div>

                 <!-- /. Nombre de rencontres par journée bloc -->

                 <!-- Ajouter une contrainte bloc -->
                 <div class="col-lg-3" id="ajoutContrainte" style="display: none">
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             Ajouter une contrainte
                         </div>
                         <!-- /.panel-heading -->
                         <div class="panel-body">
                             <div class="form-group">
                                 <label class="checkbox-inline">
                                     <input type="checkbox">Toutes les équipes doivent accueillir au moins une fois
                                 </label>

                             </div>

                         </div>
                         <!-- /.panel-body -->
                     </div>
                 </div>
                 <!-- /. Ajouter une contrainte bloc -->


             </div>
             <!-- /.row -->

             <div class="row">
                 <!-- Nombre de poules bloc -->
                 <div class="col-lg-3">
                     <div class="panel panel-default">
                         <div class="panel-heading">
                             Nombre de poules*
                         </div>
                         <!-- /.panel-heading -->
                         <div class="panel-body">

                             <div class="form-group">
                                 <input type="number" min="1" class="form-control" required>
                             </div>

                         </div>
                         <!-- /.panel-body -->
                     </div>
                 </div>
                 <!-- /. Ajouter une contrainte bloc -->

             </div>
             <div class="row">
                 <div class="panel panel-default">
                     <div class="panel-heading">
                        <span id="contrainteInterdiction" style="cursor:pointer"> Ajouter des contraintes d'interdiction </span>
                     </div>
                     <!-- /.panel-heading -->
                     <div class="panel-body" id="contrainteInterdictionBody" style="display: none">

                         <form action="">
                             <p>
                                 {#<span>Add more</span>#}

                                 <input type="text" value="Interdiction 1">
                                 <select class="removeDuplication">
                                     <option value="Amiens">Amiens</option>
                                     <option value="Tours">Tours</option>
                                     <option value="Angers">Angers</option>
                                     <option value="Rouen">Rouen</option>
                                 </select>
                                 <select>
                                     <option value="Amiens">Amiens</option>
                                     <option value="Tours">Tours</option>
                                     <option value="Angers">Angers</option>
                                     <option value="Rouen">Rouen</option>
                                 </select>
                             </p>
                         </form>

                     </div>
                     <!-- /.panel-body -->
                 </div>

             </div>

             <div class="row">
                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <span id="contrainteRepartition" style="cursor:pointer"> Ajouter des contraintes de répartition homogène</span>
                     </div>
                     <!-- /.panel-heading -->
                     <div class="panel-body" id="contrainteRepartitionBody" style="display: none">
                         <div class="panel-body">
                             <div class="table-responsive">
                                 <table class="table table-striped table-bordered table-hover">
                                     <thead>
                                     <tr>
                                         <th><strong>Equipe</strong></th>
                                         <th><strong>Catégorie</strong></th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <tr>
                                         <td>Amiens</td>
                                         <td>
                                             <select class="form-control">
                                                 <option value="Aucun">Aucun</option>
                                                 <option value="Espoir">Espoir</option>
                                                 <option value="Descendant">Descendant</option>
                                                 <option value="Rouen">Promu</option>
                                                 <option value="Rouen">Equie de niveau A</option>
                                                 <option value="Rouen">Equie de niveau B</option>
                                                 <option value="Rouen">Equie de niveau C</option>
                                                 <option value="Rouen">Tête de série 1</option>
                                                 <option value="Rouen">Tête de série 2</option>
                                             </select>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>Nantes</td>
                                         <td>
                                             <select class="form-control">
                                                 <option value="Aucun">Aucun</option>
                                                 <option value="Espoir">Espoir</option>
                                                 <option value="Descendant">Descendant</option>
                                                 <option value="Rouen">Promu</option>
                                                 <option value="Rouen">Equie de niveau A</option>
                                                 <option value="Rouen">Equie de niveau B</option>
                                                 <option value="Rouen">Equie de niveau C</option>
                                                 <option value="Rouen">Tête de série 1</option>
                                                 <option value="Rouen">Tête de série 2</option>
                                             </select>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>Angers</td>
                                         <td>
                                             <select class="form-control">
                                                 <option value="Aucun">Aucun</option>
                                                 <option value="Espoir">Espoir</option>
                                                 <option value="Descendant">Descendant</option>
                                                 <option value="Rouen">Promu</option>
                                                 <option value="Rouen">Equie de niveau A</option>
                                                 <option value="Rouen">Equie de niveau B</option>
                                                 <option value="Rouen">Equie de niveau C</option>
                                                 <option value="Rouen">Tête de série 1</option>
                                                 <option value="Rouen">Tête de série 2</option>
                                             </select>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>Rouen</td>
                                         <td>
                                             <select class="form-control">
                                                 <option value="Aucun">Aucun</option>
                                                 <option value="Espoir">Espoir</option>
                                                 <option value="Descendant">Descendant</option>
                                                 <option value="Rouen">Promu</option>
                                                 <option value="Rouen">Equie de niveau A</option>
                                                 <option value="Rouen">Equie de niveau B</option>
                                                 <option value="Rouen">Equie de niveau C</option>
                                                 <option value="Rouen">Tête de série 1</option>
                                                 <option value="Rouen">Tête de série 2</option>
                                             </select>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>Paris</td>
                                         <td>
                                             <select class="form-control">
                                                 <option value="Aucun">Aucun</option>
                                                 <option value="Espoir">Espoir</option>
                                                 <option value="Descendant">Descendant</option>
                                                 <option value="Rouen">Promu</option>
                                                 <option value="Rouen">Equie de niveau A</option>
                                                 <option value="Rouen">Equie de niveau B</option>
                                                 <option value="Rouen">Equie de niveau C</option>
                                                 <option value="Rouen">Tête de série 1</option>
                                                 <option value="Rouen">Tête de série 2</option>
                                             </select>
                                         </td>
                                     </tr>
                                     </tbody>
                                 </table>
                             </div>
                             <!-- /.table-responsive -->
                         </div>
                         <!-- /.panel-body -->

                     </div>
                     <!-- /.panel-body -->
                 </div>

             </div>
             <div class="row">
                 <button type="submit" class="btn btn-primary pull-right"> Lancer le calcul</button>
                 </div>

         </div>

         {% block javascript %}

             {{ parent() }}

             <script language="javascript">

                 function typePlateau() {

                     var plateau = document.getElementById("typeRencontre3").checked;

                     if (plateau) {


                         document.getElementById("nbrJournee").style.display = "block";
                         document.getElementById("nbrRencontre").style.display = "block";
                         document.getElementById("ajoutContrainte").style.display = "block";
                     }

                 }

                 function typeAllerRetour() {

                     var allerRetour = document.getElementById("typeRencontre1").checked;
                     if (aller) {
                         document.getElementById("nbrJournee").style.display = "none";
                         document.getElementById("nbrRencontre").style.display = "none";
                         document.getElementById("ajoutContrainte").style.display = "none";
                     }

                 }

                 function typeAller() {

                     var aller = document.getElementById("typeRencontre2").checked;

                     if (aller) {
                         document.getElementById("nbrJournee").style.display = "none";
                         document.getElementById("nbrRencontre").style.display = "none";
                         document.getElementById("ajoutContrainte").style.display = "none";

                     }
                 }

                 $(document).ready(function(){
                     $("#contrainteInterdiction").click(function(){
                         $("#contrainteInterdictionBody").toggle();
                     });
                 });

                 $(document).ready(function(){
                     $("#contrainteRepartition").click(function(){
                         $("#contrainteRepartitionBody").toggle();
                     });
                 });
             </script>

         {% endblock %}

     {% endblock %}

