<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>


<!-- declaration de variables -->
<!-- distanceMin -->
{% set distanceMinOpSansContrainte = scenarioOptimalSansContrainte.estimationGenerale.distanceTotale %}
{% set distanceMinOpSansContrainte = (distanceMinOpSansContrainte / 1000)|round %}
<!-- distanceTotale -->
{% set distanceTotaleOpSansContrainte = scenarioOptimalSansContrainte.estimationGenerale.distanceTotaleTousParticipants %}
{% set distanceTotaleOpSansContrainte = (distanceTotaleOpSansContrainte / 1000)|round %}
<!-- nbrParticipantsTotal -->
{% set nbrParticipantsTotalOpSansContrainte = scenarioOptimalSansContrainte.estimationGenerale.nbrParticipantsTotal %}
<!-- dureeTotale -->
{% set dureeTotaleOpSansContrainte = scenarioOptimalSansContrainte.estimationGenerale.dureeTotale %}
<!-- estimationDetails -->
{% set estimationDetailsOpSansContrainte = scenarioOptimalSansContrainte.estimationDetails %}
<!-- rencontreDetails -->
{% set rencontreDetailsOpSansContrainte = scenarioOptimalSansContrainte.rencontreDetails %}
<!-- coordPoules -->
{% set coordPoulesOpSansContrainte = scenarioOptimalSansContrainte.poulesCoords %}



{% set kernelRootDir = kernelRootDir[:-3] %}
 <img src="{{ asset('bundles/ffbb/accueil/img/Logo-Optimouv.jpg') }}" >

<br><br>

<h3> Export de votre recherche "{{ nomRapport }}" - scénario optimal</h3>
<h4>Fédération : UFOLEP</h4>
<h4> Discipline : Rugby</h4>
<h4>Utilisateur : Jean Dupont</h4>
<h4>Nom de la liste : {{ nomListe }}</h4>
<h4>Nom du groupe : {{ nomGroupe }}</h4>

{% if typeMatch == "allerRetour" %}
    <h4>  Type de rencontre : Optimisation de poules - match aller retour </h4>
{% elseif typeMatch == "allerSimple" %}
    <h4>  Type de rencontre : Optimisation de poules - match aller simple </h4>
{% elseif typeMatch == "plateau" %}
    <h4>  Type de rencontre : Optimisation de poules - match aller plateau </h4>
{% else %}
    <h4> Type de rencontre : {{ typeMatch }} </h4>
{% endif %}

<h4>Poules : {{ nombrePoule }} poules de {{ taillePoule }} équipes </h4>
{% if contraintsExiste == 1 %}
    {% set contrainte = "Avec contrainte" %}

{% else %}
    {% set contrainte = "Sans contrainte" %}

{% endif %}
<h4>Contraintes : {{ contrainte }} </h4>


{% set couleur = ['080830', 'd00c05', 'f1c62a', '0d5c35', 'd400ff', '5eb6dd', '8fcf3c', 'ff5900', 'ff73bf', '52251c', '0a1574', 'ff9300', '6b1a6a', '41ab7b','c2314e', '444459', 'b99654', 'a44906', '023548', 'b2b2b2', '616600', '790000', '147376', 'd4cd4a', '95b37c', '006d80' ] %}
{% for key,coordPouleOpSansContrainte in coordPoulesOpSansContrainte %}
    {% set coordEq ="" %}
    {% for coordonneeVilleOpSansContrainte in coordPouleOpSansContrainte %}
        {% set  x = coordonneeVilleOpSansContrainte[0] %}
        {% set y =  coordonneeVilleOpSansContrainte[1] %}
        {% set xy = x~"%2C"~y %}
        {% set coordEq = coordEq~xy~"%2C" %}


    {% endfor %}
    {% set coordEq = coordEq[:-3] %}
    {% set Marker = couleur[key] %}
    <img src="https://image.maps.api.here.com/mia/1.6/mapview?poi={{ coordEq }}&ml=fre&poitxs=16&poifc={{ Marker }}&app_id={{ app_id }}&amp;app_code={{ app_code }}&z=6&w=400&h=200" style="margin-left: 40px">
{% endfor %}







<div style="page-break-after:always;"></div>

<!-- bloc estimation générale -->
<div>
    <h4> Estimations</h4>
    <ul>

        <li>
            <strong>{{ distanceMinOpSansContrainte|number_format(0, ',', ' ') }} </strong>
            kilomètres au total
            à parcourir pour l'ensemble du scénario
        </li>
        <li>
            <strong> {{ (distanceTotaleOpSansContrainte * 0.80 )|round|number_format(0, ',', ' ') }}</strong>
            € pour réaliser les trajets de l'ensemble du scénario
            en voiture
        </li>
        <li>
            <strong> {{ (distanceTotaleOpSansContrainte /4 * 0.80 )|round|number_format(0, ',', ' ') }}</strong>
            € pour réaliser les trajets de l'ensemble du scénario
            en covoiturage
        </li>
        <li>
            <strong>{{ (distanceTotaleOpSansContrainte /9 * 1.31)|round|number_format(0, ',', ' ') }} </strong>
            € pour réaliser les trajets de l'ensemble du scénario
            en minibus
        </li>
        <li>
            <strong> {{ (distanceTotaleOpSansContrainte * 0.157)|round|number_format(0, ',', ' ') }}</strong>
            KG eq CO2 d'émissions totales de GES pour {{ nbrParticipantsTotalOpSansContrainte }}
            joueurs en voiture individuelle
            pour le scénario
        </li>
        <li>
            <strong>{{ (distanceTotaleOpSansContrainte/4 * 0.157)|round|number_format(0, ',', ' ') }} </strong>
            KG eq CO2 d'émissions totales de GES pour {{ nbrParticipantsTotalOpSansContrainte }}
            joueurs en co-voiturage pour le scénario
        </li>
        <li>
            <strong>{{ (distanceTotaleOpSansContrainte/9 * 0.185)|round|number_format(0, ',', ' ') }} </strong>
            KG eq CO2 d'émissions totales de GES pour {{ nbrParticipantsTotalOpSansContrainte }}
            joueurs en minibus pour le scénario

        </li>
    </ul>

</div>

<div style="page-break-after:always;"></div>
<hr>
<h4> Détails des estimations </h4>
<!-- bloc détails calcul pour poules -->

<div>
    {% set alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N','O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z' ] %}

    <table>
        <thead>
        <tr>
            <th>
                Participants
            </th>
            <th>Kilomètres à
                parcourir
            </th>
            <th>Temps de parcours
                (J H:M)
            </th>
            <th>Coût du parcours en
                voiture(€)
            </th>
            <th >Coût du parcours en
                covoiturage(€)
            </th>
            <th>Coût du parcours en
                minibus(€)
            </th>
            <th >Emissions GES voiture
                individuelle (en KG eq CO2)
            </th>
            <th>Emissions GES
                covoiturage (en KG eq CO2)
            </th>

            <th>Emissions GES minibus
                (en KG eq CO2)
            </th>
        </tr>
        </thead>
        <tbody>

        {% set dureeTotaleScOpSansContrainteDetail = "" %}
        {% for key, estimationDetailOpSansContrainte in estimationDetailsOpSansContrainte %}
            {% set distanceOpSansContrainteDetail = estimationDetailsOpSansContrainte[ loop.index ].distanceTotale // 1000 %}
            {% set distanceTotaleOpSansContrainteDetail = estimationDetailsOpSansContrainte[ loop.index ].distanceTotaleTousParticipants // 1000 %}
            {% set dureeTotaleOpSansContrainteDetail = estimationDetailsOpSansContrainte[ loop.index ].dureeTotale  %}
            {% set nbrParticipantsOpSansContrainteDetail = estimationDetailsOpSansContrainte[ loop.index ].nbrParticipantsTotal  %}
            {% set lettre = alphabet[key-1] %}

            <tr>
                <td><strong> Poule {{ lettre }} </strong></td>
                <td style="text-align:right"> {{distanceOpSansContrainteDetail|number_format(0, ',', ' ') }}</td>
                <td style="text-align:right">

                    {# récupérer le nbr de jour #}
                    {% set nbrJour = (dureeTotaleOpSansContrainteDetail/86400)|round %}
                    {% if nbrJour <10 %}
                        {% set nbrJour = "0"~nbrJour %}
                    {% endif %}
                    {# récupérer le nbr d heure #}
                    {% set nbrHeure = ((dureeTotaleOpSansContrainteDetail%86400)/3600)|round %}
                    {% if nbrHeure <10 %}
                        {% set nbrHeure = "0"~nbrHeure %}
                    {% endif %}
                    {# récupérer le nbr de minute #}
                    {% set nbrMin = (((dureeTotaleOpSansContrainteDetail%86400)%3600)/60)|round %}
                    {% if nbrMin <10 %}
                        {% set nbrMin = "0"~nbrMin %}
                    {% endif %}
                    {{ nbrJour}} {{ nbrHeure }}:{{ nbrMin }}

                </td>
                <td style="text-align:right"> {{ (distanceTotaleOpSansContrainteDetail  * 0.80)|round|number_format(0, ',', ' ') }}</td>
                <td style="text-align:right"> {{ (distanceTotaleOpSansContrainteDetail /4 * 0.80)|round|number_format(0, ',', ' ') }}</td>
                <td style="text-align:right"> {{ (distanceTotaleOpSansContrainteDetail /9 * 1.31)|round|number_format(0, ',', ' ') }}</td>
                <td style="text-align:right"> {{ (distanceTotaleOpSansContrainteDetail * 0.157)|round|number_format(0, ',', ' ') }}</td>
                <td style="text-align:right"> {{ ((distanceTotaleOpSansContrainteDetail /4)*0.157)|round|number_format(0, ',', ' ')  }} </td>
                <td style="text-align:right"> {{ ((distanceTotaleOpSansContrainteDetail/9)*0.185)|round|number_format(0, ',', ' ') }} </td>
            </tr>
            {% set dureeTotaleScOpSansContrainteDetail = dureeTotaleScOpSansContrainteDetail + dureeTotaleOpSansContrainteDetail %}

        {% endfor %}
        <tr>
            <td><strong> Totaux </strong></td>
            <td style="text-align:right"> {{ distanceMinOpSansContrainte|number_format(0, ',', ' ') }}</td>
            <td style="text-align:right">

                {# récupérer le nbr de jour #}
                {% set nbrJourTotalScOptContrainte = (dureeTotaleScOpSansContrainteDetail/86400)|round %}
                {% if nbrJourTotalScOptContrainte <10 %}
                    {% set nbrJourTotalScOptContrainte = "0"~nbrJourTotalScOptContrainte %}
                {% endif %}
                {# récupérer le nbr d heure #}
                {% set nbrHeureTotalScOptContrainte = ((dureeTotaleScOpSansContrainteDetail%86400)/3600)|round %}
                {% if nbrHeureTotalScOptContrainte <10 %}
                    {% set nbrHeureTotalScOptContrainte = "0"~nbrHeureTotalScOptContrainte %}
                {% endif %}
                {# récupérer le nbr de minute #}
                {% set nbrMinTotalScOptContrainte = (((dureeTotaleScOpSansContrainteDetail%86400)%3600)/60)|round %}
                {% if nbrMinTotalScOptContrainte <10 %}
                    {% set nbrMinTotalScOptContrainte = "0"~nbrMinTotalScOptContrainte %}
                {% endif %}
                {{ nbrJourTotalScOptContrainte}} {{ nbrHeureTotalScOptContrainte }}:{{ nbrMinTotalScOptContrainte }}

            </td>
            <td style="text-align:right"> {{ (distanceTotaleOpSansContrainte  * 0.80)|round|number_format(0, ',', ' ') }}</td>
            <td style="text-align:right"> {{ (distanceTotaleOpSansContrainte /4 * 0.80)|round|number_format(0, ',', ' ') }}</td>
            <td style="text-align:right"> {{ (distanceTotaleOpSansContrainte /9 * 1.31)|round|number_format(0, ',', ' ') }}</td>
            <td style="text-align:right"> {{ (distanceTotaleOpSansContrainte * 0.157)|round|number_format(0, ',', ' ') }}</td>
            <td style="text-align:right"> {{ ((distanceTotaleOpSansContrainte /4)*0.157)|round|number_format(0, ',', ' ')  }} </td>
            <td style="text-align:right"> {{ ((distanceTotaleOpSansContrainte/9)*0.185)|round|number_format(0, ',', ' ') }} </td>
        </tr>
        </tbody>
    </table>

</div>

<div style="page-break-after:always;"></div>
<hr>
<h4> Liste des rencontres </h4>
<!-- bloc détails rencontres -->
<div >
    <table>

        {#<thead>#}
        {#<tr>#}
            {#<th style="font-weight: bold !important;">#}
                {#Poules#}
            {#</th>#}
            {#<th>Rencontres</th>#}

        {#</tr>#}
        {#</thead>#}

        <tbody>
        {% for key, rencontreDetailOpSansContrainte in rencontreDetailsOpSansContrainte %}
            {% set distanceOptSansContrainte = rencontreDetailsOpSansContrainte[ loop.index ] %}

            <tr>
                {% set lettre = alphabet[key-1] %}
                <td><strong> Poule {{ lettre }} </strong></td>

                <td>
                    <ul>
                        {% for keyDetailOptSansContrainte, detailsOptSansContrainte in distanceOptSansContrainte %}
                            <li>
                                {{ distanceOptSansContrainte[ loop.index ].equipeDepartNom }}
                                ~ {{ distanceOptSansContrainte[ loop.index ].equipeDestinationNom }}
                            </li>

                        {% endfor %}
                    </ul>
                </td>

            </tr>

        {% endfor %}
        </tbody>

    </table>
</div>

<form name="submitParams" action="{{ path('ffbb_export_pdf')}}" method="post">
    <input type="hidden" value="{{ idResultat }}" name="params" id="params">

    <button type="submit" class="btn btn-primary  pull-right">Exporter</button>
</form>

{#<a href="{{ path('ffbb_export_pdf', {'params': params}) }}" class="btn btn-primary  pull-right">sauvegarder</a>#}

</body>
</html>
