<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% block title %}Welcome Optimouv !{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->

        <link href="{{ asset('bundles/ffbb/accueil/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('bundles/ffbb/accueil/css/landing-page.css') }}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{{ asset('bundles/ffbb/accueil/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
              type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
              rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>

{% block body %}
    <div class="row" style="background-color: #e5e5e5">
        <div class="col-lg-2"> </div>
        <div class="col-lg-8">

            {% block menu %}
                <!-- Navigation -->
                <nav class="navbar navbar-default  topnav" role="navigation">
                    <div class="row">
                        <div style="position: relative; padding-top: 10px">
                            <div style="position:relative; float:left; width: 30%">
                                <img src="{{ asset('bundles/ffbb/accueil/img/ffbb-logo.jpg') }}">
                            </div>
                            <div style="position:relative; float:left; width: 30%; text-align: center; margin-left: 5%">
                                <img src="{{ asset('bundles/ffbb/accueil/img/Logo-Optimouv.jpg') }}" alt="optimouv"/>
                            </div>
                            <div style="position:relative; float:right; width: 30%; ">
                                {% if app.user %}
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">

                                                <li style="font-weight: normal;"><a href="#"></a> <i
                                                            class="fa fa-user fa-fw" style="margin-left: 20px"></i>
                                                    Bienvenue {{ app.user.nom|capitalize }} </li>
                                                <li class="divider"></li>
                                                <li><a href="{{ path('admin_user_edit_profile') }}"><i
                                                                class="fa fa-user fa-fw"></i> Modifier mon profil</a>

                                                </li>
                                                {#<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>#}
                                                <li class="divider"></li>
                                                <li><a href="{{ path('fos_user_security_logout') }}"><i
                                                                class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
                                                </li>
                                            </ul>
                                            <!-- /.dropdown-user -->
                                        </li>
                                    </ul>
                                {% endif %}

                                <img src="{{ asset('bundles/ffbb/accueil/img/cop-ministere.png') }}" alt="cop21"
                                     style="float: right"/>


                            </div>
                        </div>
                    </div>
                    <!-- /.container -->
                </nav>
            {% endblock %}

            {% block slideshow %}
                <!-- Header -->
                {#<div class="intro-header" style="top:20px !important">#}
                <div class="row"  >
                        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="background-color: #fff; width: 100%" >
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                            <li data-target="#myCarousel" data-slide-to="6"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="{{ asset('bundles/ffbb/images/img_slideshow/Aviron.jpg') }}" alt="Aviron">
                            </div>

                            <div class="item">
                                <img src="{{ asset('bundles/ffbb/images/img_slideshow/Basket.jpg') }}" alt="Basket" >
                            </div>

                            <div class="item">
                                <img src="{{ asset('bundles/ffbb/images/img_slideshow/Nageurs.jpg') }}" alt="Nageurs" >
                            </div>
                            <div class="item">
                                <img src="{{ asset('bundles/ffbb/images/img_slideshow/Rugby.jpg') }}" alt="Rugby" >
                            </div>
                            <div class="item">
                                <img src="{{ asset('bundles/ffbb/images/img_slideshow/Tennis.jpg') }}" alt="Tennis" >
                            </div>
                            <div class="item">
                                <img src="{{ asset('bundles/ffbb/images/img_slideshow/Volley.jpg') }}" alt="Volley" >
                            </div>


                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                        {#<div class="row">#}
                            {#<div class="col-lg-12">#}
                                {#<div class="intro-message">#}


                                {#</div>#}
                            {#</div>#}
                        {#</div>#}


                    <!-- /.container -->

                </div>
                <!-- /.intro-header -->
            {% endblock %}
            <!-- Page Content -->
            {% block content %}
            {% endblock %}

            <!-- /.banner -->

            <!-- Footer -->
            <footer>
                {% block footer %}
                    <div >
                        <div class="row">
                            <div style="position:relative; float:left; width: 30%">
                                <div style="text-indent: 20px; padding-bottom: 10px; padding-left:70px">Partenaires</div>
                                <div>
                                    <img src="{{ asset('bundles/ffbb/accueil/img/CNOSF_LOGO_INSTITUTIONNEL.jpg') }}" width="90" height="65" alt="CNOSF"/>
                                    <img src="{{ asset('bundles/ffbb/accueil/img/Ademe-info-energie.png') }}" width="65" height="65" alt="Ademe"/>
                                    <img src="{{ asset('bundles/ffbb/accueil/img/WWF_logo.png') }}" width="65" height="65" alt="CNOSF"/>

                                </div>

                            </div>
                            <div  style="position:relative; float:left; width: 30%; margin-left:5%; text-align: center">
                                <a href="{{ path('ffbb_mentions_legales') }}"><h5>Mentions légales</h5> </a>
                            </div>
                            <div style="position:relative; float:left; width: 30%; margin-left:5%; text-align: center">
                                <h5>Contact</h5>
                                support@optimouv.net
                            </div>

                        </div>

                    </div>
                {% endblock %}
            </footer>
        </div>
        <div class="col-lg-2"> </div>

    </div>

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('bundles/ffbb/accueil/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/ffbb/accueil/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% endblock %}
</body>

</html>
