<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome Optimouv !{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bundles/ffbb/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{{ asset('bundles/ffbb/bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('bundles/ffbb/dist/css/sb-admin-2.css') }}" rel="stylesheet">

        
        <!-- Custom Fonts -->
        <link href="{{ asset('bundles/ffbb/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
              type="text/css">

        <!-- css dual list box -->
        <link href="{{ asset('bundles/ffbb/css/bootstrap-duallistbox.css') }}" rel="stylesheet"
              type="text/css">
        <link href="{{ asset('bundles/ffbb/css/prettify.min.css') }}" rel="stylesheet"
              type="text/css">

        <link href="{{ asset('bundles/ffbb/css/select2.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/ffbb/css/bootstrap-datepicker3.standalone.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/ffbb/css/graph.css') }}" rel="stylesheet">



        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css"/>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
        <script type="text/javascript" charset="UTF-8"
                src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
        <script src="{{ asset('bundles/ffbb/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/ffbb/js/jquery.bootstrap-duallistbox.js') }}"></script>
        <script src="{{ asset('bundles/ffbb/js/run_prettify.min.js') }}"></script>
        <script src="{{ asset('bundles/ffbb/js/import_listes.js') }}"></script>
        <script src="{{ asset('bundles/ffbb/js/import_listes_equipes.js') }}"></script>
        <script src="{{ asset('bundles/ffbb/js/jquery.redirect.js') }}"></script>
        <script src="{{ asset('bundles/ffbb/js/duplicateFields.js') }}"></script>
        <script src="{{ asset('bundles/ffbb/js/select2.full.js') }}"></script>
        <script src="{{ asset('bundles/ffbb/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl=fr"></script>

        <script src="{{ asset('bundles/ffbb/js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('bundles/ffbb/js/bootstrap-datepicker.fr.min.js') }}"></script>
        <script src="{{ asset('bundles/ffbb/js/d3.min.js') }}"></script>




    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation">

            <!-- /.container-fluid -->
            <div class="navbar-header">

                <a class="navbar-brand" href="{{ path('ffbb_accueil_connect') }}">
                    <img src="{{ asset('bundles/ffbb/accueil/img/Logo-Optimouv.jpg') }}" width="60%"/>
                </a>

            </div>
            {#<div style="position: relative; float: right;">#}
            {#<img src="{{ asset('bundles/ffbb/images/logo-IT4PME.png') }}" width="68px" height="40px" />#}
            {#</div>#}
            <!-- /.navbar-header -->


        </nav>

        {#<nav class="navbar navbar-default" style="background-color:#CECECE !important;">#}
        <nav class=" navbar-default" style="background-color:#CECECE !important;">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('ffbb_accueil_connect') }}">Accueil</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                    <ul class="nav navbar-nav">

                        {% set url = app.request.requestUri %}
                        {% set poule = "poule" %}
                        {% if poule in url %}
                            <li><a style="background-color:#40BAC3;" href="{{ path('ffbb_poules_choisir_liste') }}">Optimisation
                                    des poules</a></li>

                            <li><a href="{{ path('ffbb_choisir_liste_participants') }}">
                                    Meilleur lieu de rencontre</a></li>
                            <li><a href="{{ path('ffbb_rapports') }}">Rapports</a></li>
                            {% if (is_granted('ROLE_SUPER_ADMIN') == true) or (is_granted('ROLE_ADMIN') == true) %}
                                <li><a href="#">Statistiques</a></li>
                                <li><a href="{{ path('administration_panel') }}">Administration</a></li>
                            {% endif %}

                        {% elseif  app.request.attributes.get('_route') == 'ffbb_rapports' %}

                            <li><a href="{{ path('ffbb_poules_choisir_liste') }}">Optimisation des poules</a></li>

                            <li><a href="{{ path('ffbb_choisir_liste_participants') }}">
                                    Meilleur lieu de rencontre</a></li>
                            <li><a style="background-color:#EE7700;" href="{{ path('ffbb_rapports') }}">Rapports</a>
                            </li>

                            {% if (is_granted('ROLE_SUPER_ADMIN') == true) or (is_granted('ROLE_ADMIN') == true) %}
                                <li><a href="#">Statistiques</a></li>
                                <li><a href="{{ path('administration_panel') }}">Administration</a></li>
                            {% endif %}
                        {% elseif ("administration" in url) or ("federation" in url) or ("discipline" in url) %}

                            <li><a href="{{ path('ffbb_poules_choisir_liste') }}">Optimisation des poules</a></li>

                            <li><a href="{{ path('ffbb_choisir_liste_participants') }}">
                                    Meilleur lieu de rencontre</a></li>
                            <li><a href="{{ path('ffbb_rapports') }}">Rapports</a>
                            </li>
                            {% if (is_granted('ROLE_SUPER_ADMIN') == true) or (is_granted('ROLE_ADMIN') == true) %}
                                <li><a href="#">Statistiques</a></li>
                                <li><a href="{{ path('administration_panel') }}" style="background-color:#4e4646;">Administration</a>
                                </li>
                            {% endif %}

                        {% elseif "statistiques" in url %}

                            <li><a href="{{ path('ffbb_poules_choisir_liste') }}">Optimisation des poules</a></li>

                            <li><a href="{{ path('ffbb_choisir_liste_participants') }}">
                                    Meilleur lieu de rencontre</a></li>
                            <li><a href="{{ path('ffbb_rapports') }}">Rapports</a>
                            </li>

                            {% if (is_granted('ROLE_SUPER_ADMIN') == true) or (is_granted('ROLE_ADMIN') == true) %}
                                <li><a href="#" style="background-color:#777171;">Statistiques</a></li>
                                <li><a href="{{ path('administration_panel') }}">Administration</a></li>
                            {% endif %}

                        {% else %}
                            <li><a href="{{ path('ffbb_poules_choisir_liste') }}">Optimisation des poules</a></li>
                            <li><a style="background-color:#A4BD10;"
                                   href="{{ path('ffbb_choisir_liste_participants') }}">
                                    Meilleur lieu de rencontre</a></li>
                            <li><a href="{{ path('ffbb_rapports') }}">Rapports</a></li>

                            {% if (is_granted('ROLE_SUPER_ADMIN') == true) or (is_granted('ROLE_ADMIN') == true) %}
                                <li><a href="#">Statistiques</a></li>
                                <li><a href="{{ path('administration_panel') }}">Administration</a></li>
                            {% endif %}

                        {% endif %}




                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="">Aide</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#"></a> <i class="fa fa-user fa-fw" style="margin-left: 20px"></i> Bienvenue {{ app.user.username }} </li></a>
                                <li class="divider"></li>
                                <li><a href="{{ path('admin_user_edit_profile') }}"><i class="fa fa-pencil fa-fw"></i> Gérer votre profil</a>
                                </li>
                                {#<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>#}
                                <li class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        {% block pagewrapper %}
        {% endblock %}

    </div>




{% endblock %}
{% block javascripts %}


    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/ffbb/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset('bundles/ffbb/bower_components/metisMenu/dist/metisMenu.min.js') }} "></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('bundles/ffbb/dist/js/sb-admin-2.js') }}"></script>





    <!-- code filtre resultats calcul ~ pages internes-->

    <script type="text/javascript" src="{{ asset('bundles/ffbb/js/datatables.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#example').DataTable();
        });
        {# Exclusion de zone géographique #}
        $(document).ready(function () {
            $('#exampleExclusion').DataTable();
        });

        $(document).ready(function () {
            $('#exampleExclusionEq').DataTable();
        });
        {# Meilleur lieu de rencontre #}
        $(document).ready(function () {
            $('#exampleRencontre').DataTable();
        });
        $(document).ready(function () {
            $('#exampleRencontreEq').DataTable();
        });

        {# Terrain Neutre #}
        $(document).ready(function () {
            $('#exampleTerrain').DataTable();
        });
        $(document).ready(function () {
            $('#exampleTerrainEq').DataTable();
        });

        $(document).ready(function () {
            $('#scOpAvecContrainte').DataTable();
        });

        $(document).ready(function () {
            $('#scEqAvecContrainte').DataTable();
        });
        $(document).ready(function () {
            $('#scOpSansContrainte').DataTable();
        });
        $(document).ready(function () {
            $('#scEqSansContrainte').DataTable();
        });
        $(document).ready(function () {
            $('#scReference').DataTable();
        });
    </script>



    <!-- Code pour les filtres des détails de chaque calcul ~ pages internes-->
    <script type="text/javascript">
        // For demo to fit into DataTables site builder...
        $('#example')
                .removeClass('display')
                .addClass('table table-striped table-bordered');
    </script>
    {# Exclusion de zone géographique #}
    <script type="text/javascript">
        // For demo to fit into DataTables site builder...
        $('#exampleExclusion')
                .removeClass('display')
                .addClass('table table-striped table-bordered');
    </script>
    <script type="text/javascript">
        // For demo to fit into DataTables site builder...
        $('#exampleExclusionEq')
                .removeClass('display')
                .addClass('table table-striped table-bordered');
    </script>
    {# Meilleur lieu de rencontre #}
    <script type="text/javascript">
        // For demo to fit into DataTables site builder...
        $('#exampleRencontre')
                .removeClass('display')
                .addClass('table table-striped table-bordered');
    </script>
    <script type="text/javascript">
        // For demo to fit into DataTables site builder...
        $('#exampleRencontreEq')
                .removeClass('display')
                .addClass('table table-striped table-bordered');
    </script>

    {# Terrain Neutre #}
    <script type="text/javascript">
        // For demo to fit into DataTables site builder...
        $('#exampleTerrain')
                .removeClass('display')
                .addClass('table table-striped table-bordered');
    </script>
    <script type="text/javascript">
        // For demo to fit into DataTables site builder...
        $('#exampleTerrainEq')
                .removeClass('display')
                .addClass('table table-striped table-bordered');

        $('#scOpAvecContrainte')
                .removeClass('display')
                .addClass('table table-striped table-bordered');

        $('#scEqAvecContrainte')
                .removeClass('display')
                .addClass('table table-striped table-bordered');

        $('#scOpSansContrainte')
                .removeClass('display')
                .addClass('table table-striped table-bordered');

        $('#scReference')
                .removeClass('display')
                .addClass('table table-striped table-bordered');

        $('#scEqSansContrainte')
                .removeClass('display')
                .addClass('table table-striped table-bordered');
//        $('#tableContrainteRepartitionHomogene')
//                .removeClass('display')
//                .addClass('table table-striped table-bordered');
    </script>

    <!-- Code Jquery sortable list -->
    {#<script src="{{ asset('bundles/ffbb/js/jquery.sortable.js') }}"></script>#}

    <script type="text/javascript">
        //        $(document).ready(function () {
        //            $(function () {
        //                $('.sortable').sortable();
        //                $('.handles').sortable({
        //                    handle: 'span'
        //                });
        //                $('.connected').sortable({
        //                    connectWith: '.connected'
        //                });
        //                $('.exclude').sortable({
        //                    items: ':not(.disabled)'
        //                });
        //            });
        //
        //
        //        });

        function loadListItems() {

            var items = [];

            $("ul.maliste").children().each(function () {

                //Récupération de l'ordre actuel

                var itemOrder = $(this).find('label').data().value;

                items.push(itemOrder);


            });

//            alert(items);
            return items;
        }

        function myFunction() {

            var items = loadListItems();
            document.getElementById("inputListItems").value = items;
        }

    </script>



{% endblock %}
</body>
</html>
