<form role="form" action="{{ path('admin_user_create') }}" method="post" onsubmit="msgAlert();">


    <div class="form-group">
        <label style="font-weight: bold" >Civilité *</label>
        <select class="form-control" name="civilite" id="civilite" >
            <option value="monsieur">Monsieur</option>
            <option value="madame">Madame</option>

        </select>
    </div>
    <div class="form-group">
        <label style="font-weight: bold"  >Nom *</label>
        <input class="form-control"   name="nom" required id="firstName">
    </div>
    <div class="form-group">
        <label style="font-weight: bold">Prénom *</label>
        <input class="form-control"  name="prenom" id="lastName" required onchange="createLogin()">
    </div>
    <div class="form-group" >
        <label style="font-weight: bold">Login </label>
        <input class="form-control"  name="username" id="username" disabled>
    </div>


    {# afficher les listes en fn de l'utilisateur #}
    {% set userConnect = app.user %}
    {% if userConnect is not null %}

        {% if 'ROLE_SUPER_ADMIN' in userConnect.roles %}
            <input type="hidden" name="role" value="ROLE_SUPER_ADMIN">
        {% endif %}

            {% if 'ROLE_ADMIN' in userConnect.roles %}
            {# connecté en tant que admin fédéral #}
            <input type="hidden" name="discipline" value="{{ discipline.id }}">
            <input type="hidden" name="federation" value="{{ federation }}">
            <input type="hidden" name="role" value="ROLE_ADMIN">

        {% else %}
            {# connecté en tant que admin général #}

            <div class="form-group">
                <label style="font-weight: bold">Profil *</label>
                <select class="form-control" name="profil" required>
                         <option value="admin">Administrateur  fédéral</option>
                         <option value="user">Utilisateur</option>
                 </select>
            </div>

            <div class="form-group">
                <label style="font-weight: bold">Fédération *</label>
                <select class="form-control" name="federation" id="listeFederation" onchange="reloadDisciplines()"
                        required>
                    <option value="none">Sélectionner une fédération</option>
                    {% for federation in liste_federation %}
                        <option value="{{ federation.id }}|{{ federation.nom }}">{{ federation.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="hidden" id="all_discipline" value="{{ liste_disciplines|json_encode }}">
                <label style="font-weight: bold">Discipline *</label>
                <select name="discipline" id="listeDiscipline" class="form-control" required>
                    <option value="none">Sélectionner une discipline</option>
                    {% for discipline in liste_disciplines[1] %}
                        <option value="{{ discipline.id }}">{{ discipline.nom }}</option>
                    {% endfor %}
                </select>
            </div>

        {% endif %}

    {% else %}
        {# simple utilisateur #}
            <div class="form-group">
                <label style="font-weight: bold">Fédération *</label>
                <select class="form-control" name="federation" id="listeFederation" onchange="reloadDisciplines()"
                        required>
                    <option value="none">Sélectionner une fédération</option>
                    {% for federation in liste_federation %}
                        <option value="{{ federation.id }}|{{ federation.nom }}">{{ federation.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="hidden" id="all_discipline" value="{{ liste_disciplines|json_encode }}">
                <label style="font-weight: bold">Discipline *</label>
                <select name="discipline" id="listeDiscipline" class="form-control" required>
                    <option value="none">Sélectionner une discipline</option>
                    {% for discipline in liste_disciplines[1] %}
                        <option value="{{ discipline.id }}">{{ discipline.nom }}</option>
                    {% endfor %}
                </select>
            </div>

    {% endif %}

    <div class="form-group">
        <label>Fonction</label>
        <input type="text" class="form-control"  name="fonction" id="fonction">
    </div>
    <div class="form-group">
        <label>Niveau utilisateur</label>
        <select name="niveauUtilisateur" class="form-control">
            <option value="none">Sélectionner un niveau</option>
            <option value="national">National</option>
            <option value="régional">Régional</option>
            <option value="départemental">Départemental</option>
        </select>
    </div>

    <div class="form-group" id="nbrParticipants">
        <label style="font-weight: bold">Email *</label>
        <input type="email" class="form-control"  name="email" required>
    </div>

    <div class="form-group">
        <label>Téléphone</label>
        <input type="tel" class="form-control"   name="telephone">
    </div>

    <div class="form-group">
        <label>Adresse</label>
        <input type="text" class="form-control"   name="adresse">
    </div>


    <div class="form-group" id="nbrLicencies">
        <label>Numéro de licencié</label>
        <input type="text"  class="form-control"  name="numLicencie">
    </div>

    <div class="form-group">
        <label style="font-weight: bold">Mot de passe *</label>
        <input type="password" placeholder="Mot de passe" id="password"
               name="password" class="form-control" required>
    </div>
    <div class="form-group">
        <label style="font-weight: bold">Saisissez à nouveau votre mot de passe *</label>
        <input type="password" placeholder="Confirmez votre mot de passe" id="confirm_password" required class="form-control">

    </div>

    <div class="form-group">
        <div class="g-recaptcha" data-sitekey="{{ cle_site_captcha }}"></div>

    </div>

    <button type="submit" class="btn btn-consulter-user-dark">Enregistrer</button>
    <a href="{{ path('ffbb_accueil_connect') }}" class="btn btn-consulter-user">Annuler</a>
</form>