{% extends '::BOLayout.html.twig' %}

{% block pagewrapper %}

<div id="page-wrapper">

    <div class="row">
        <div class="bs-example">
            <ul class="breadcrumb">
                <li><a href="{{ path('ffbb_accueil_connect') }}">Accueil</a></li>
                 <li><a href="{{ path('ffbb_choisir_liste_participants') }}">Choix de listes</a></li>
                <li><a href="{{ path('ffbb_gerer_liste_participants') }}">Gestion de listes</a></li>
                <li class="active">Visualisation de la liste de participants</li>
            </ul>
        </div>
        <div class="col-lg-12">
            <h3 class="page-header">Liste de participants </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Vos participants
                </div>

                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <div class="span3">
                        <table class="table table-striped table-hover table-bordered table-fixed" id="tableEntitesListeParticipants" >
                            <thead>
                                <tr>
                                    {%  if typeListe == "EQUIPE" %}

                                        <th>Nom</th>
                                        <th>Code Postal</th>
                                        <th>Ville</th>
                                        <th>Participants</th>
                                        <th>Lieu de Rencontre Possible</th>
                                        <th>Adresse</th>
                                        <th>Longitude</th>
                                        <th>Latitude</th>
                                        <th>Système de Projection Géographique</th>
                                        <th>Licenciés</th>

                                    {% else %}
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Code Postal</th>
                                        <th>Ville</th>
                                        <th>Lieu de Rencontre Possible</th>
                                        <th>Adresse</th>
                                        <th>Longitude</th>
                                        <th>Latitude</th>
                                        <th>Système de Projection Géographique</th>

                                    {% endif %}
                                </tr>
                            </thead>


                            <tbody>
                            {% for detailsEntite in detailsEntites %}
                                <tr id="{{ detailsEntite.id }}">

                                    {%  if typeListe == "EQUIPE" %}
                                        <td> {{ detailsEntite.nom }}</td>
                                        <td> {{ detailsEntite.codePostal }}</td>
                                        <td> {{ detailsEntite.ville }}</td>
                                        <td> {{ detailsEntite.participants }}</td>

                                        {% if detailsEntite.lieuRencontrePossible  %}
                                            <td> OUI </td>
                                        {% else %}
                                            <td> NON </td>
                                        {% endif %}

                                        <td> {{ detailsEntite.adresse }}</td>

                                        {% if detailsEntite.longitude  %}
                                            <td> {{ detailsEntite.longitude   }} </td>
                                        {% else %}
                                            <td> </td>
                                        {% endif %}

                                        {% if detailsEntite.latitude  %}
                                            <td> {{ detailsEntite.latitude   }} </td>
                                        {% else %}
                                            <td> </td>
                                        {% endif %}

                                        <td> {{ detailsEntite.projection }}</td>

                                        {% if detailsEntite.licencies  %}
                                            <td> {{ detailsEntite.licencies   }} </td>
                                        {% else %}
                                            <td> </td>
                                        {% endif %}

                                    {% else %}
                                        <td> {{ detailsEntite.nom }}</td>
                                        <td> {{ detailsEntite.prenom }}</td>
                                        <td> {{ detailsEntite.codePostal }}</td>
                                        <td> {{ detailsEntite.ville }}</td>

                                        {% if detailsEntite.lieuRencontrePossible  %}
                                            <td> OUI </td>
                                        {% else %}
                                            <td> NON </td>
                                        {% endif %}
                                        <td> {{ detailsEntite.adresse }}</td>

                                        {% if detailsEntite.longitude  %}
                                            <td> {{ detailsEntite.longitude   }} </td>
                                        {% else %}
                                            <td> </td>
                                        {% endif %}

                                        {% if detailsEntite.latitude  %}
                                            <td> {{ detailsEntite.latitude   }} </td>
                                        {% else %}
                                            <td> </td>
                                        {% endif %}

                                        <td> {{ detailsEntite.projection }}</td>
                                    {% endif %}

                                </tr>
                            {% endfor %}

                            </tbody>

                        </table>
                        </div>
                    </div>
                    <!-- /.table-responsive -->


                    <div class="row">
                        <div class="col-lg-12"> <a href="{{ path('ffbb_gerer_liste_participants') }}" class="pull-right btn btn-default ">Retour à la liste</a></div>
                    </div>

                </div>

            </div>
        </div>
    </div>





</div>


{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
    $(document).ready(function() {
        $('#tableEntitesListeParticipants').DataTable({
            responsive: true
        });
    });
    </script>
{% endblock %}






