{% extends '::BOLayout.html.twig' %}

{% block pagewrapper %}

    <div id="page-wrapper">

        <div class="row">
            <div class="bs-example">
                <ul class="breadcrumb">
                    <li><a href="{{ path('ffbb_accueil_connect') }}">Accueil</a></li>
                    <li><a href="{{ path('ffbb_choisir_liste_participants') }}">Choix de listes</a></li>
                    <li><a href="{{ path('ffbb_gerer_liste_participants') }}">Gestion de listes</a></li>
                    <li class="active">Visualisation de la liste de lieux</li>
                </ul>
            </div>
            <div class="col-lg-12">
                <h3 class="page-header">Liste de lieux </h3>
                <h4>{{ nomListeLieux }}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Vos lieux
                    </div>

                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <div class="span3">
                                <table class="table table-striped table-hover table-bordered table-fixed" id="tableEntitesListeLieux" >
                                    <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Code Postal</th>
                                        <th>Ville</th>
                                        {#<th>Lieu de Rencontre Possible</th>#}
                                        <th>Adresse</th>
                                        <th>Longitude</th>
                                        <th>Latitude</th>
                                        <th>Système de Projection Géographique</th>
                                        <th>Type d'équipement</th>
                                        <th>Nombre d'équipement</th>
                                        <th>Capacité de Rencontre Standard </th>
                                        <th>Capacité de Phase Finale</th>
                                    </tr>
                                    </thead>


                                    <tbody>
                                    {% for detailsEntite in detailsEntites %}
                                        <tr id="{{ detailsEntite.id }}">
                                            <td> {{ detailsEntite.nom }}</td>
                                            <td> {{ detailsEntite.codePostal }}</td>
                                            <td> {{ detailsEntite.ville }}</td>
                                            {#{% if detailsEntite.lieuRencontrePossible  %}#}
                                                {#<td> OUI </td>#}
                                            {#{% else %}#}
                                                {#<td> NON </td>#}
                                            {#{% endif %}#}
                                            <td> {{ detailsEntite.adresse }}</td>

                                            {% if detailsEntite.longitude  %}
                                                <td> {{ detailsEntite.longitude   }} </td>
                                            {% else %}
                                                <td> </td>
                                            {% endif %}

                                            {% if detailsEntite.latitude  %}
                                                <td> {{ detailsEntite.latitude   }} </td>
                                            {% else %}
                                                <td> </td>
                                            {% endif %}

                                            <td> {{ detailsEntite.projection }}</td>
                                            <td> {{ detailsEntite.typeEquipement }}</td>

                                            {% if detailsEntite.nombreEquipement %}
                                                <td> {{ detailsEntite.nombreEquipement }} </td>
                                            {% else %}
                                                <td> </td>
                                            {% endif %}


                                            <td> {{ detailsEntite.capaciteRencontre }}</td>
                                            <td> {{ detailsEntite.capacitePhaseFinale }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <!-- /.table-responsive -->


                        <div class="row">
                            <div class="col-lg-12"> <a href="{{ path('ffbb_gerer_liste_participants') }}" class="pull-right btn btn-default-rencontre">Retour à la liste</a></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>





    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- code interne dual list box -->
    <script>

        $(document).ready(function() {
            $('#tableEntitesListeLieux').DataTable({
                responsive: true
            });
        });


    </script>
{% endblock %}






