<html >

<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta charset="UTF-8">

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

</head>

<body>

<h3> Export de votre recherche </h3>
<h4>Type de Rapport : {{ typeRapport }}</h4>
<h4>Nom de Fédération : {{ nomFederation }}</h4>

{% if nomDiscipline == "tous" %}
    <h4>Nom de Discipline: Toutes disciplines </h4>
{% else %}
    <h4>Nom de Discipline: {{ nomDiscipline }}</h4>
{% endif %}

{% if nomUtilisateur == "tous" %}
    <h4>Nom d'Utilisateur : Tous utilisateurs</h4>
{% else %}
    <h4>Nom d'Utilisateur : {{ nomUtilisateur }}</h4>
{% endif %}

<h4>Date de début : {{ dateDebutStr }}</h4>
<h4>Date de fin : {{ dateFinStr }}</h4>



{% include 'FfbbBundle:Statistique:graph.html.twig' %}

<script type="text/javascript">

    console.log( "------------------------------------------------------ DEBUG export PDF graph -------------------------------------------" );
    var donneesGraph = {{ donneesStatistiques.donneesGraph | json_encode | raw }};

//    console.log('export pdf donneesGraph: ' + JSON.stringify(donneesGraph));
    InitChart(donneesGraph);

</script>



</body>

</html>

