<html lang="en">

<head>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

</head>

<body>

<h3> Export de votre recherche </h3>
<h4>Type de Rapport : {{ typeRapport }}</h4>
<h4>Nom de Fédération : {{ nomFederation }}</h4>

{% if nomDiscipline == "tous" %}
    <h4>Nom de Discipline: Toutes disciplines </h4>
{% else %}
    <h4>Nom de Discipline: {{ nomDiscipline }}</h4>
{% endif %}

{% if nomUtilisateur == "tous" %}
    <h4>Nom d'Utilisateur : Tous utilisateurs</h4>
{% else %}
    <h4>Nom d'Utilisateur : {{ nomUtilisateur }}</h4>
{% endif %}

<h4>Date de début : {{ dateDebutStr }}</h4>
<h4>Date de fin : {{ dateFinStr }}</h4>



{% include 'FfbbBundle:Statistique:graph.html.twig' %}

<script type="text/javascript">

    console.log( "------------------------------------------------------ DEBUG export PDF graph -------------------------------------------" );
    var donneesGraph = {{ donneesStatistiques.donneesGraph | json_encode | raw }};
    console.log('donneesGraph: ' + JSON.stringify(donneesGraph));

    var data = donneesGraph[0];
    var data2 = donneesGraph[1];


    InitChart(data, data2);

</script>



</body>

</html>

