{% extends '::BOLayout.html.twig' %}

     {% block pagewrapper %}

         <div id="page-wrapper">


             <div class="row">
                 <div class="bs-example">
                     <ul class="breadcrumb">
                         <li><a href="{{ path('ffbb_accueil_connect') }}">Accueil</a></li>
                         <li class="active">Meilleur lieu de rencontre</li>
                     </ul>
                 </div>
                 <div class="col-lg-12">
                     <h2 style="margin-bottom: 20px">Etape 1 / 4</h2>

                 </div>
                 <!-- /.col-lg-12 -->
             </div>
             <!-- /.row -->
             {# premier bloc ~ choisir liste participants#}
             <div class="row contourBlocRencontre">
                 <div class="col-lg-9">
                     <span class="moncercle" style="font-weight: bold; ">1</span>
                     <h4>Importer et gérer vos fichiers de personnes, d’équipes ou de lieux</h4>
                     <span class="sousTitreBloc"><i class="glyphicon glyphicon-question-sign"> </i> Si vous avez déjà chargé un fichier passez directement à l’étape 2 ou 3.</span><br>
                      <span class="sousTitreBloc">Importez vos fichiers de personnes, équipes ou lieux au format de fichier CSV prédéfini. </span>

                 </div>
                 <div class="col-lg-3">

                     <div class="col-lg-12">
                             <a href="{{ path('ffbb_gerer_liste_participants') }}"
                                class="btn btn-default-rencontre  pull-right">Gérer et importer</a>
                         </div>


                     <div class="col-lg-12">
                         <a href="{{ asset('bundles/ffbb/telechargement/OPTILIEUX_fichiers import.zip') }}" class="pull-right" style="font-size: small">Télécharger les formats de fichiers d'import</a>
                     </div>

                 </div>
             </div>
             {# fin premier bloc ~ choisir liste participants#}

             <br>

             {# 2 eme bloc ~ choisir liste participants #}
             <div class="row contourBlocRencontre">
                 <div class="col-lg-12">
                     <span class="moncercle" style="font-weight: bold; ">2</span>
                     <h4>Choisir vos participants et/ou vos lieux à partir des fichiers chargés</h4>
                     <span class="sousTitreBloc"><i class="glyphicon glyphicon-question-sign"> </i> Si vous avez déjà sélectionné vos participants et/ou  de lieux passez directement à l’étape 3.</span><br>
                     <span class="sousTitreBloc">Sélectionnez vos participants et/ou vos lieux à partir de vos fichiers préalablement chargés.</span>
                     <hr>
                 </div>

                 <!-- bloc liste participants + liste lieux -->
                 <div class="col-lg-12">
                     <div class="col-lg-6">
                         <form role="form" action="{{ path('ffbb_nouveau_groupe') }}" method="post" name="liste">

                             <!-- /. liste participants -->
                             <div class="form-group">

                                 <div class="panel panel-default">
                                     <div class="panel-heading">
                                         Liste de participants
                                     </div>
                                     <!-- /.panel-heading -->
                                     <div class="panel-body" style="height:250px !important; overflow-y: scroll">
                                         <div class="table-responsive">
                                             <table class="table table-hover">

                                                 <tbody id="tableListeParticipants" >
                                                 {% for participant in listeParticipants %}
                                                     <tr>
                                                         <td><input type="radio" name="listeParticipants" id="participant~{{ participant.id }}" value="{{ participant.id }}" required>
                                                             {{ participant.nom }}
                                                         </td>

                                                     </tr>
                                                 {% endfor %}
                                                 </tbody>
                                             </table>
                                         </div>
                                         <!-- /.table-responsive -->
                                     </div>
                                     <!-- /.panel-body -->

                                 </div>

                             </div><!-- /.fin liste participants -->
                         </form>

                     </div>
                     <div class="col-lg-6">
                         <!-- /. liste lieux -->
                         <div class="form-group">

                             <div class="panel panel-default">
                                 <div class="panel-heading">
                                     Liste de lieux
                                 </div>
                                 <!-- /.panel-heading -->
                                 <div class="panel-body" style="height:250px !important; overflow-y: scroll">
                                     <div class="table-responsive">
                                         <table class="table table-hover">

                                             <tbody>
                                             {% for lieu in listeLieux %}
                                                 <tr>
                                                     <td><input type="radio" name="listeLieux" id="participant~{{ lieu.id }}" value="{{ lieu.id }}" >
                                                         {{ lieu.nom }}
                                                     </td>
                                                 </tr>
                                             {% endfor %}
                                             </tbody>
                                         </table>
                                     </div>
                                     <!-- /.table-responsive -->
                                 </div>
                                 <!-- /.panel-body -->

                             </div>

                         </div><!-- /. fin liste lieux -->
                     </div>

                 </div> <!-- fin bloc liste participants + liste lieux -->

                 {# btn creer selection #}
                 <div class="col-lg-12">
                     <button type="submit" class="btn btn-default-rencontre pull-right">Créer une sélection</button>
                 </div>


             </div>
             {# fin 2 eme bloc ~ choisir liste participants #}
             <br>

             {# 3 eme bloc ~ choisir liste participants #}
             <div class="row contourBlocRencontre">
                 <div class="col-lg-9">
                     <span class="moncercle" style="font-weight: bold; ">3</span>
                     <h4>Commencez votre recherche de meilleur lieu de rencontre</h4>
                     <span class="sousTitreBloc"><i class="glyphicon glyphicon-question-sign"> </i> Choississez votre sélection de participants et/ou  de lieux et lancer une recherche.</span><br>
                 </div>
                 <div class="col-lg-3">
                     <button class="btn btn-default-rencontre pull-right" onclick="getCheckedRadioValue()"> Commencer la simulation</button>

                 </div>

             </div>



             </div>
     {% endblock %}
{% block javascripts %}
    <!-- code interne dual list box -->
    <script>

        function getCheckedRadioValue() {
            //   var elements = document.getElementsByName(listeParticipants);
            var elements = document.forms.liste.listeParticipants;
            var elementsLieux = document.forms.liste.listeLieux;
            if (elements.length == undefined){
                var idListe  = elements.value;
                idListe = parseInt(idListe);
                var url = "choisir-groupe";
                var chemin = url + "/" + idListe;
                window.location.href = chemin;
                elements.checked = false;
                elementsLieux.checked = false;

            } else {
                len = elements.length;
                for (var i=0; i<len; ++i){

                    if (elements[i].checked){
                        var idListe  = elements[i].value;
                        idListe = parseInt(idListe);
                        var url = "choisir-groupe";
                        var chemin = url + "/" + idListe;
                        window.location.href = chemin;
                        elements.checked = false;
                        elementsLieux.checked = false;
                        //alert(chemin);
                    }
                }
            }
        }

        // séléctionner la dernière liste de participants uploadée par l'utilisateur
        $(document).ready(function () {
            $("#tableListeParticipants").children("tr:first").find("td:first").find('input:radio').prop("checked", true);
        });
        

    </script>
{% endblock %}






