{% extends '::BOLayout.html.twig' %}

     {% block pagewrapper %}

         <div id="page-wrapper">

             <div class="row">
                 <div class="bs-example">
                     <ul class="breadcrumb">
                         <li><a href="{{ path('administration_panel') }}">Administration</a></li>
                         <li><a href="{{ path('ffbb_discipline_list') }}">Liste de catégories</a></li>
                         <li class="active">Mise à jour de discipline</li>
                     </ul>
                 </div>
                 <div class="col-lg-12">
                     <h3 class="page-header">Editer une catégorie </h3>
                     <h5 style="text-align: right; font-weight: bold">(* champs obligatoires)</h5>
                 </div>
                 <!-- /.col-lg-12 -->
             </div>
             <!-- /.row -->

             <div class="row">
                 <div class="col-lg-6">
                     <form role="form" action="{{ path('ffbb_repartition_update_cat') }}" method="post">



                         <div class="form-group">
                             <label style="font-weight: bold">Designation de la catégorie *</label>
                             <input class="form-control" name="designation" value="{{ designation }}" required>
                         </div>
                         <input type="hidden" name="idCategorie" value="{{ idCategorie }}">



                         <button type="submit" class="btn btn-ajouter-reparition">Enregistrer</button>
                         <a href="javascript:history.back()" class="btn btn-editer-reparition ">Annuler</a>
                     </form>

                 </div>


             </div>


         </div>

     {% endblock %}